/*colors*/
/*
almost black: #242424
dark gray: #434343
off white: #E3E3E4
redish: #B24B52
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pg-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    padding: .5rem 1.5rem;
    background-color: #B24B52;
    border-color: #B24B52;
    color: #FFF;
    font-weight: bold;
}

/*form styles*/
.form-input {
    position: relative;
    margin-bottom: 2rem;
}

.form-input input, .form-input textarea {
    position: relative;
    padding: .5rem;
    width: 100%;
    max-width: 300px;
}

.form-input input + label, .form-input textarea + label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform:translateY(-50%);
    transition: all .25s;
}

.form-input input + label.label-show, .form-input textarea + label.label-show {
    top: -10px;
}

.form-input input:focus + label, .form-input textarea:focus + label {
    top: -10px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 100%;
}

/*header*/
header {
    padding: 2rem 0;
    background-color: #434343;
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    cursor: default;
}

.logo h1, .logo i {
    font-family: Creepster;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2px;
    background-color: #E3E3E4;
    background-image: url(images/offwhite-bg.PNG);
    transition: all ease-in .5s;
}
.logo:hover h1, .logo:hover i {
    background-image: url(images/lightning.gif);
    background-position: center;
    background-size: cover;
}

.logo i::before {
    font-family: 'Font Awesome\ 5 Free';
}

.header-cart {
    display: inline-block;
    cursor: pointer;
    color: #E3E3E4;
}

.header-cart:hover {
    color: #B24B52;
}

.header-cart i {
    font-size: 1.5rem;
}

.cart-amount {
    margin-right: .5rem;
}

.pg-content {
    padding-top: 2rem;
}

.back-btn {
    cursor: pointer;
    margin-bottom: 2rem;
}

/*product catalog page*/
.prod-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prod-card-container {
    width: 33.33%;
    padding: .5rem;
    margin-bottom: 2rem;
}

.prod-card {
    cursor: pointer;
}

.prod-card-info {
    padding: 0 1.25rem;
}

.prod-card-info > div {
    margin-bottom: .5rem;
}

.prod-card-img {
    overflow: hidden;
}

.prod-card .prod-card-img img {
    transition: all .5s;
}

.prod-card:hover .prod-card-img img {
    transform: scale(1.2);
}

.prod-card-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.prod-card:hover .prod-card-name {
    color: #B24B52;
}

.prod-card-price {
    color: gray;
}

/*product detail page*/
.prod-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prod-detail-img {
    width: 35%;
}

.prod-detail-info {
    width: 65%;
    padding: 2rem;
}

.prod-detail-info > * {
    margin-bottom: 1rem;
}

.prod-detail-desc {
    margin-top: 2rem;
}

/*cart*/

.cart-summary h1 {
    margin-bottom: 1rem;
}
.cart-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 2rem;
}

.cart-item-content {
    padding: 1rem;
}

.cart-item-content > div {
    margin-bottom: .5rem;
}

.cart-item-name {
    font-size: 1.5rem;
}

.cart-item-img {
    max-width:200px;
}

.cart-total-price {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/*checkout page*/


.checkout-total {
    margin: 2rem 0;
}


@media screen and (max-width: 768px) {
    .prod-card-name {
        font-size: 1.25rem;
    }
    .prod-card-desc {
        font-size: .9rem;
    }
}

@media screen and (max-width: 625px) {
    .prod-card-container {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .prod-card-container {
        width: 100%;
    }
}